body {

    margin: 0;
    font-family: Arial, sans-serif;

    background: #f2eee3;

    color: #2f4f35;

}



/* HEADER */

header {

    background: #356b45;

    padding: 25px 50px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}



.logo {

    color: white;

    font-size: 28px;

    font-weight: bold;

}



.logo span {

    display: block;

    font-size: 12px;

}



.back_button {

    background: #dce7d2;

    padding: 12px 20px;

    border-radius: 20px;

    text-decoration: none;

    color: #356b45;

    font-weight: bold;

}



.back_button:hover {

    background: white;

}





/* MAIN */

main {

    padding: 40px 70px;

}



h1 {

    font-size: 40px;

    margin-bottom: 10px;

}



.subtitle {

    color: #666;

    font-size: 18px;

}





/* SUMMARY CARDS */

.summary_cards {

    display: flex;

    gap: 25px;

    margin: 30px 0;

}



.summary_card {

    background: #356b45;

    color: white;

    width: 220px;

    padding: 25px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}



.summary_card p {

    font-size: 35px;

    margin: 10px;

}





/* BOOKINGS */

.booking_container {

    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));

    gap: 25px;

}



.booking_card {

    background: white;

    padding: 25px;

    border-radius: 18px;

    border: 2px solid #d5ddca;

    box-shadow: 0 5px 15px rgba(0,0,0,0.08);

}



.booking_card:hover {

    transform: translateY(-5px);

    transition: 0.3s;

}



.booking_top {

    display:flex;

    justify-content:space-between;

    align-items:center;

}





/* STATUS COLOURS */

.status {

    padding: 8px 18px;

    border-radius: 20px;

    font-weight: bold;

    display: inline-block;

    font-size: 14px;

}



/* Yellow */

.status.pending {

    background: #fff3cd;

    color: #856404;

}



/* Blue */

.status.confirmed {

    background: #dbeafe;

    color: #1d4ed8;

}



/* Green */

.status.completed {

    background: #d8f3dc;

    color: #2d6a4f;

}



/* Red */

.status.cancelled {

    background: #f8d7da;

    color: #842029;

}





/* ACTIONS */

.actions {

    margin-top: 20px;

}



select {

    padding: 10px;

    border-radius: 10px;

    border: 1px solid #ccc;

}





button {

    background:#356b45;

    color:white;

    border:none;

    padding:10px 15px;

    border-radius:10px;

    cursor:pointer;

}



button:hover {

    opacity:0.85;

}





.delete_button {

    background:#b54235;

    margin-top:10px;

}



.delete_button:hover {

    background:#8f2d25;

}





/* MOBILE */

@media(max-width:700px){


    main {

        padding:25px;

    }


    .summary_cards {

        flex-direction:column;

    }


    .summary_card {

        width:100%;

    }

}
